body{
  font-family: 'Quicksand', sans-serif;
}
.fontSecondary{
  font-family: 'Nunito', sans-serif;
}
.font-10{
  font-size: 10px;
  line-height: 12px;
}
.font-12{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.01em;
}
.font-16{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.font-28{
  font-size: 28px;
  line-height: 35px;
}
.textColorMuted{
  color: #aeaeae;
}
.textColorOffer{
  color: #46C212;
}
.navicon {
  width: auto;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.navicon div{
  width: 30px;
  height: 3px;
  margin: 0 1rem;
  background-color:#065CAB;
  transition: all 0.5s ease;
}
.searchButton{
  background: none;
  border: none;
  top: 0;
  left: 0;
}
.buttonPrimary{
  border: 1px solid #065CAB;
  border-radius: 4px;
  font-weight: bold;
}
.navContainer .logo{
  width: 82px;
  height: 37px;
  background: #065CAB;
}
.navContainer .categoriesLink{
  width: 82px;
  height: 15px;
}
.navContainer .categoriesLink a{
  color: #000000;
  text-decoration: none;
}
.navContainer .tutor{
  text-decoration: underline;
  color: #46C212;
}
.colorPrimary{
  color: #065CAB;
}
.colorPrimary:hover{
  color: #065CAB;
}
.navContainer .signup{
  width: 76px;
  height: 39px;
  background: #ffffff;
}

.navContainer .login{
  width: 134px;
  height: 39px;
  background: #065CAB;
}
.coverRings img{
  position: absolute;
}
.coverRings img:nth-child(1){
  width: 411px;
  height: 411px;
  left: 0px;
  top: 117px;
}
.coverRings img:nth-child(2){
  width: 241px;
  height: 241px;
  right: 33.26%;
  top: 397px;
}
.coverRings img:nth-child(3){
  width: 152px;
  height: 152px;
  right: 4.65%;
  top: 436px;
}
.coverTitle{
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.01em;
}
.coverImage{
  position: absolute;
  top: 0;
  right: 0;
}
.coverButton{
  width: 236px; 
  height: 56px;
  padding: 0 24px 0;
  background: #065CAB;
}
.featuredCourses,
.popularCourses,
.coursesWithOffer{
  color: #000000;
  background: #F7F8FC;
  min-height: 550px;
}
.coursesWithOffer{
  background: #ffffff;
}
.courseCard{
  width: 255px;
  height: 283px;
}
.courseCardImage{
  height: 130px;
}
.coursesHeader{
  font-weight: bold;
  color: #000000;
}
.coursesHeader h2{
  font-weight: bold;
}
.bookmarked,
.authorName{
  background: #000;
  color: #ffffff;
}
.offerLabel{
  width: 47px;
  height: 16.42px;
  top: 15.38px;
  left: 15.51px;
  background-color:  #FF0303;
}
.bookmarked{
  top: 0;
  right: 0;
  border-radius: 0 4px 0 4px;
  padding:  7.94px 10.42px 8.47px;
}
.authorName{
  top:  130px;
  left: 0;
  border-radius: 0 4px 0 0;
  transform: translateY(-100%);
}
.rating{
  width: 43px;
  font-size: 14px;
  line-height: 17px;
}
.pricing{
  min-width: 84px;
}
.courseCategories{
  background: #065CAB;
  color: #ffffff;
  min-height: 419px;
}
.courseCategories .coursesHeader{
  font-weight: bold;
  color: #ffffff;
}
.courseCategories .rings img{
  position: absolute;
}
.courseCategories .rings img:nth-child(1){
  left: 0%;
  top: 19px;
}
.courseCategories .rings img:nth-child(2){
  right: 0;
  bottom: 0;
}
.categoriesCard{
  width: 255px;
  height: 56px;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.categoriesCard:hover{
  border: 2px solid #ffffff;
}
.cardGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  grid-row-gap: 30px;
  grid-column-gap: 40px;
}
.appLink{
  min-height: 448px;
  background-color: #000000;
}
.appLink .rings img{
  position: absolute;
}
.appLink .rings img:nth-child(1){
  left: 0;
  top: 0;
}
.appLink .rings img:nth-child(2){
  left: 0;
  top: 0;
}
.appLinkTitle{
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.01em;
}
.appLink .store{
  width: 353px;
}
.appLink .store img{
  width: 160px;
  height: 48px;
}
.footer{
  height: 156px;
  background-color: #1E1E1E;
  color: #ffffff;
}
.footer .logo{
  width: 102px;
  height: 34px;
  background: #1B61B6;
  border: 1px solid #1B61B6;
}